@page
@model ArtTattooProject.Pages.designTemplate.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TattoosDesign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.TattoosDesignName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.TattoosDesignName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.ImgUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.ImgUri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Artist.ArtistId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Style.StyleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TattoosDesign?.TattoosDesignId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
