@page
@model ArtTattooProject.Pages.designTemplate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TattoosDesign[0].TattoosDesignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TattoosDesign[0].ImgUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TattoosDesign[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TattoosDesign[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TattoosDesign[0].Style)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TattoosDesign) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TattoosDesignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style.StyleId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TattoosDesignId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TattoosDesignId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TattoosDesignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
