@page
@model ArtTattooProject.Pages.ArtistPage.DesignManage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TattoosDesign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.TattoosDesignName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.TattoosDesignName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.ImgUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.ImgUri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Artist.ArtistId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TattoosDesign.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TattoosDesign.Style.StyleId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TattoosDesign.TattoosDesignId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
