@page
@model ArtTattooProject.Pages.ArtistPage.CertificateManage.IndexModel
@{
    ViewData["Title"] = "Certificate Manage";
}
<h1>Certificate</h1>
<p>
    <a asp-page="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateArtist[0].Certificate)
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.CertificateArtist[0].Urllink) *@
               Link to certificate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CertificateArtist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificate.CertificateName)
                </td>
                <td>
                    <a href="http://@item.Urllink">Click here</a>
@*                     @Html.DisplayFor(modelItem => item.Urllink) *@
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-certId="@item.CertificateId" asp-route-artistId="@item.ArtistId">Edit</a>
                    <a asp-page="./Delete" asp-route-CertificateId="@item.CertificateId" asp-route-ArtistId="@item.ArtistId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.CertificateArtist.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.CertificateArtist.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.CertificateArtist.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.CertificateArtist.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>