@page
@model ArtTattooProject.Pages.AdminPage.StudioManage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to active/inactive this studio?</h3>
<div>
    <h4>Studio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Website)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Studio.StudioId" />
        @if (Model.Studio.Status == 1)
        {
            <input type="submit" value="Inactive" />
        }
        else
        {
            <input type="submit" value="Active" />
        }
        <a asp-page="./Index">Back</a>
    </form>
</div>
