@page
@model ArtTattooProject.Pages.AdminPage.StudioManage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Studio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Website)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Studio?.StudioId">
        <button type="button" class="btn btn-success btn-xs">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
            </svg>
            Edit
        </button>
    </a>
    <a asp-page="./Index">
        <button type="button" class="btn btn-info btn-xs">            
            Back to List
        </button>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].StaffPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffPhone)
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabledStaff = !Model.Staff.HasPreviousPage ? "disabled" : "";
    var nextDisabledStaff = !Model.Staff.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
    asp-route-id="@Model.Studio.StudioId"
   asp-route-pageIndexStaff="@(Model.Staff.PageIndex - 1)"
   class="btn btn-primary @prevDisabledStaff">
    Previous
</a>
<a asp-page="./Index"
   asp-route-id="@Model.Studio.StudioId"
   asp-route-pageIndexStaff="@(Model.Staff.PageIndex + 1)"
   class="btn btn-primary @nextDisabledStaff">
    Next
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabledArtist = !Model.Artist.HasPreviousPage ? "disabled" : "";
    var nextDisabledArtist = !Model.Artist.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-id="@Model.Studio.StudioId"
   asp-route-pageIndexArtist="@(Model.Artist.PageIndex - 1)"
   class="btn btn-primary @prevDisabledArtist">
    Previous
</a>
<a asp-page="./Index"
   asp-route-id="@Model.Studio.StudioId"
   asp-route-pageIndexArtist="@(Model.Artist.PageIndex + 1)"
   class="btn btn-primary @nextDisabledArtist">
    Next
</a>
<style>
    a {
        text-decoration: none;
    }
</style>