@page
@model ArtTattooProject.Pages.TattooLoverPage.IndexModel
@{
    ViewData["Title"] = "TattooLover Home Page";
}
<div>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
    <a asp-page="./Appointment">Appointment history</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].TattoosDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Service)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @if (item.TattoosDesignId != null)
                    {
                        <img src=@item.TattoosDesign.ImgUri width="286" height="135" />
                        // Html.DisplayFor(modelItem => item.TattoosDesign.ImgUri);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Fullname)
                </td>
                <td>
                    <a asp-page="./SelectSchedule" asp-route-id="@item.ServiceId">Select Schedule</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Service.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Service.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Service.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Service.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>