@page
@model ArtTattooProject.Pages.AdminPage.AccountManage.IndexModel

@{
    ViewData["Title"] = "Account Manage";
}

<h1>Account Manage</h1>

<p>
    <a asp-page="Create" class="btn btn-primary badge bg-success">Create New staff</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].TattooLover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Account)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (item.ArtistId != null)
                    {
                        @Html.DisplayFor(modelItem => item.ArtistId)
                        ;
                    }
                    else
                    {
                        <div>------</div>
                    }
                </td>
                <td>
                    @if (item.StaffId != null)
                    {
                        @Html.DisplayFor(modelItem => item.StaffId)
                        ;
                    }
                    else
                    {
                        <div>------</div>
                    }
                </td>
                <td>
                    @if (item.TattooLoverId != null)
                    {
                        @Html.DisplayFor(modelItem => item.TattooLoverId)
                        ;
                    }
                    else
                    {
                        <div>------</div>
                    }
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <div class="badge bg-success">active</div>
                    }
                    else
                    {
                        <div class="badge bg-warning">inactive</div>
                    }
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <a asp-page="./Delete" asp-route-username="@item.Username" class="btn btn-warning btn-xs">inactive</a>
                    }
                    else
                    {
                        <a asp-page="./Delete" asp-route-username="@item.Username" class="btn btn-success btn-xs">active</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Account.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Account.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Account.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Account.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
