@page
@model ArtTattooProject.Pages.AdminPage.AccountManage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].TattooLover)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TattooLover.TattooLoverId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Username">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Username">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
